.container {
    width: 1900px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d2124;
    padding-left: 21px;
}

.navbar-logo {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navbar-logo-Architect {
    margin-left: 27px;
    font-family: sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.navbar-list {
    display: flex;
    justify-content: center;
}

.navbar-link {
    margin-right: 37px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.search {
    padding: 26px;
    background: #171a1c;
}

.header {
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -359px;
    text-align: center;
    padding: 127px 0 145px;
}

.header-title {
    padding-bottom: 44px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 27px;
    color: #ffffff;
}

.header-btn {
    display: inline-block;
    width: 170px;
    padding: 21px 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
}

.header-btn-subscribe {
    background: #89ca62;
    margin-right: 21px;
}

.header-btn-articles {
    background: #14b9d5;
}

.popular-posts {
    background: #f2f2f2;
}

.popular-posts-box {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    flex-flow: column wrap;
    max-height: 860px;
    align-items: start;
    align-content: space-between;
}

.popular-posts-title {
    padding: 61px 0 52px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #18b4cf;
}

.popular-posts-items {
    margin-bottom: 31px;
}

.popular-posts-text {
    text-align: center;
    padding: 21px;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    color: #000000;
}

/*GRID*/

.our-clients {
    display: grid;
    grid-template-columns: repeat(4, 235px);
    grid-template-rows: repeat(3, 50px);
    place-content: center;
    grid-row-gap: 30px;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 590px;
}

.our-clients-title {
    grid-column: 1/-1;
    place-self: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.our-clients-underline {
    grid-area: 2/1/3/-1;
    place-self: center;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
}

.our-clients-national-post {
    justify-self: end;
    place-self: center;
}

.our-clients-dryme {
    justify-self: center;
}

.our-clients-house-home {
    justify-self: end;
}

.our-clients-journy {
    justify-self: end;
}

.top-roted {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-template-rows: 136px 190px;
}

.top-roted-title {
    grid-column: 1/-1;
    place-self: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}

.hot-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 132px 259px 418px 418px 259px;
    grid-row-gap: 43px;
    width: 1180px;
    margin: 0 auto;
}

.hot-news-title {
    grid-column: 1/-1;
    place-self: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}

.hot-news-post1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    width: 856px;
    background: #f9f7f7;
}

.hot-news-post1-about {
    place-self: center;
    text-align: right;
}

.hot-news-post1-title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 22px;
}

.hot-news-post1-text {
    width: 320px;
    height: 140px;
    font-family: sans-serif;
    font-size: 14px;
}

.hot-news-post2 {
    width: 277px;
    background: #f9f7f7;
    justify-self: end;
}

.hot-news-post2-title {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.hot-news-post3 {
    grid-area: 3/1/4/3;
}

.hot-news-post4 {
    grid-area: 3/3/4/5;
    justify-self: end;
}

.hot-news-post5 {
    grid-area: 4/1/5/3;
}

.hot-news-post6 {
    grid-area: 4/3/5/5;
    justify-self: end;
}

.hot-news-post3,
.hot-news-post4,
.hot-news-post5,
.hot-news-post6 {
    width: 554px;
    background: #f9f7f7;
}

.hot-news-post-title {
    padding: 21px;
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.hot-news-post-text {
    margin: 0 auto;
    width: 505px;
    height: 77px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: right;
}

.hot-news-post7 {
    width: 277px;
    background: #f9f7f7;
}

.hot-news-post8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 5/2/6/5;
    justify-self: end;
    width: 856px;
    background: #f9f7f7;
}

.footer {
    display: grid;
    grid-template-columns: 590px 590px;
    grid-template-rows: 80px;
    background: #000000;
    justify-content: center;
    margin-top: 71px;
}

.footer-text {
    align-self: center;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.footer-logo {
    place-self: center end;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}